<% include squelette/header.ejs %>
<body>
<% include squelette/navbar.ejs %>
<div class="row">

<div class="col-md-12">
  <div class="col-md-12 text-center">
    <h1>Bienvenue à l'Hôtel de l'Étoile</h1>
  </div>
  <div class="col-md-12 text-left">
    <h3>Présentation</h3>
  </div>
  <div class="col-md-12 text-left">
    <p>Lourdes, centre mondial de pèlerinage, accueille des visiteurs du monde entier. Chaque année, 5 millions de visiteurs viennent se recueillir devant la grotte des apparitions. <br>
  </p>
  <p>
  Les sanctuaires sont proches de notre hôtel, vous pouvez réaliser les visites principales à pied.</p>
  </div>
  <div class="col-md-12">
    <h3>Bienvenue à l’Hôtel de l’Etoile !</h3>
  </div>
  <div class="col-md-12">
    <p>Une équipe chaleureuse, disponible et polyglotte vous accueille et vous assurera un séjour réussi.</p> <br>
    <p>Vous trouverez confort et calme dans toutes nos chambres. Elles sont équipées de bain/douche, wc indépendant, sèche cheveux, téléphone direct, télévision. Sur demande, vous pourrez disposer de chambres avec balcon.</p> <br>
    <p>Il est possible d’organiser des excursions vers les Pyrénées ou la Côte Atlantique depuis l’hôtel.</p> <br>
    <p>La salle de restaurant, lumineuse, spacieuse et climatisée vous donnera l’occasion d’apprécier la cuisine de notre chef. Menus végétariens et régime sur demande.</p> <br>
    <p>Notre boutique de souvenirs vous permettra de trouver un cadeau pour vos proches ou pour vous-même.</p> <br>
    <p>Partenaires, professionnels du tourisme, tours opérateurs, organisateurs de groupes et de pèlerinage, nous sommes à votre disposition pour vos demandes de disponibilité et de devis.</p> <br>
    <p>Parking pour bus et voiture. Garage souterrain privé, gratuit.</p> <br>
  </div>

<!-- DIV COL -->
</div>
<!-- DIV ROW -->
</div>


<% include ./squelette/footer%>
